/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common */
.text-white {
    color: white;
}
.text-center{
    text-align: center;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
    float:left;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: calc(100%/3);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    
    clear: both;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
 nav {
    display: inline-block;
}
.nav > li {
    display: inline-block;
    position: relative;
}
.nav > li > a{
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    color: white;
    padding: 0 24px;
    text-transform: uppercase;
}
.nav .subnav li:hover a,
.nav > li:hover > a{
    background-color: #cccccc;
    color: black;
}
.nav li:hover ul{
    display: block;
}
.nav ,.subnav{
    list-style-type: none;
}
.nav .subnav {
    display: none;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.nav .nav-arrow-down {
    font-size: 15px;
}
.subnav ul li{
    min-width: 60px;
    display: block;
}
.subnav li a{
    text-decoration: none;
    line-height: 38px;
    color: black;
    display: block;
    padding: 0 16px;
    min-width: 160px;
}

header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 24px;
    color: white;
}
header .search-btn:hover{
    background-color: tomato;
    cursor: pointer;
}
/* slider */
.slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
    position: relative;
}
.slider .text-content {
    color: white;
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
.slider .text-content h2 {
    font-weight: 500;
    margin-bottom: 25px;
}
/* content */
section .content {
    width: 100%;
    padding: 64px 0;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

section .content-heading {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
}

section .content-sub-heading {
    font-style: italic;
    font-size: 15px;
    opacity: .6;
    margin-top: 25px;
    margin-bottom: 20px;
}

section .about-text{
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 48px;
}
/* band member */
.member-list {
    margin-top: 48px;
}

.member-list .member-name {
    font-size: 15px;
    text-align: center;
}

.member-list .member-avatar {
    width: 154px;
    border-radius: 5px;
}
/* tour */
.tour-background {
    margin-top: 50px;
    background-color: black;
}
.tour-month-list {
    list-style-type: none;
    background-color: white;
    margin-top: 35px;
}

.tour-month-list li{
    color: #757575;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px 16px;
}

.tour-month-list .tour-sold-out {
    background-color: #f44336;
    padding: 3px 4px;
    color: white;
    margin-left: 46px;
    font-size: 15px;
}

.tour-quantity {
    float:right;
    background-color: black;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    color: white;
    margin-top: -3px;
    text-align: center;
    margin-right: 20px;
}
/* tour */
.list-place-tour {
    margin: 36px -8px 0px;
    padding-bottom: 50px;
}
.list-place-tour .place-tour-item {
    text-align: left;
    background-color: white;
    background-clip: content-box;
}
.place-tour-item .place-body {
    padding: 16px 0px 0px 12px;
    font-size: 15px;
}
.place-tour-item .place-img {
    width: 100%;
    display: block;
}

.place-tour-item .place-img:hover {
    opacity: .5;
}
.place-tour-item .place-name {
    font-weight: 600;
    font-size: 15px;
}

.place-tour-item  .place-time {
    color: #757575;
    margin: 16px 0;
 
}

.place-tour-item .place-buy-tickets {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 16px;
    margin: 16px 0px;
    display: inline-block;
}

.place-tour-item .place-buy-tickets:hover {
    background-color: grey;
    color: black;
}